* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    z-index: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: white;
}

:root {
    --scrollbar-width: 17px;
    --list-element-height-landscape: 7%;
    --list-element-height-portrait: 5%;
    --list-element-height: var(--list-element-height-landscape);
}

body {
    width: calc(100vw - var(--scrollbar-width));
    height: 100vh;
    background-color: rgb(60, 60, 60);
    overflow-y: auto;
    overflow-x: hidden;
}

a {
    color: cornflowerblue;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    color: skyblue;
}

.square {
    height: 100%;
    width: auto;
    aspect-ratio: 1 / 1;
}

.horizontal_spacer {
    width: 25px;
    height: 100%;
}

.vertical_spacer {
    width: 100%;
    height: 25px;
}

.list_element {
    width: 100%;
    height: var(--list-element-height);
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#player_container {
    width: 100%;
    height: calc(var(--list-element-height) * 1.75);
}

#player_float {
    z-index: 1;
    width: 100%;
    border: 1px solid white;
    background-color: rgb(60, 60, 60);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#player_flex_container {
    height: 100%;
    flex-grow: 1;
}

.player_flex_layer {
    height: calc(100% / 3);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#player_audio {
    width: 100%;
    height: 100%;
}