* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    z-index: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: white;
}

:root {
    --scrollbar-width: 17px;
    --song-container-height-landscape: 7%;
    --song-container-height-portrait: 5%;
    --song-container-height: var(--song-container-height-landscape);
}

body {
    width: calc(100vw - var(--scrollbar-width));
    height: 100vh;
    background-color: rgb(60, 60, 60);
    overflow-y: auto;
}

.song_container {
    width: 100%;
    height: var(--song-container-height);
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.song_thumbnail {
    height: 100%;
    width: auto;
    aspect-ratio: 1 / 1;
}

.song_spacer {
    width: 25px;
    height: 100%;
}

.song_description {
    font-size: 14pt;
}

.song_woy {
    font-size: 14pt;
    color: cornflowerblue;
    text-decoration: underline;
    cursor: pointer;
}

.song_woy:hover {
    color: skyblue;
}

.player_container {
    width: 100%;
    height: calc(var(--song-container-height) * 1.75);
}

.player_float {
    z-index: 1;
    width: 100%;
    border: 1px solid white;
    background-color: rgb(60, 60, 60);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.player_thumbnail {
    height: 100%;
    width: auto;
    aspect-ratio: 1/1;
}

.player_main_spacer {
    width: 30px;
    height: 100%;
}

.player_flex_container {
    height: 100%;
    flex-grow: 1;
}

.player_flex_upper {
    height: calc(100% / 3);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.player_text_spacer {
    width: 25px;
    height: 100%;
}

.player_description {
    font-size: 14pt;
}

.player_woy {
    font-size: 14pt;
    color: cornflowerblue;
    text-decoration: underline;
    cursor: pointer;
}

.player_woy:hover {
    color: skyblue;
}

.player_flex_middle {
    height: calc(100% / 3);
    width: 100%;
}

.player_flex_lower {
    height: calc(100% / 3);
    width: 100%;
}

.player_audio {
    width: 100%;
    height: 100%;
}