/*
Pallet
Background: #2A2A2A
Accent: cornflowerblue
Text: white
Dark Text: #c0c0c0
*/

:root {
    --background-color: #2A2A2A;
    --accent-color: cornflowerblue;
    --text-color: white;
    --dark-text-color: #c0c0c0;
    --border-size: 3px;
}

/* General Styles */
* {
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    z-index: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: var(--dark-text-color);
    overflow-x: hidden;
    overflow-y: hidden;
    color-scheme: dark;
    background-color: transparent;
    text-decoration: none;
}

body {
    width: 100svw;
    height: 100svh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* Search */
#search_container {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#search_bar {
    flex-grow: 1;
    height: 100%;
    padding: 0px 20px;
    color: var(--dark-text-color);
    border: var(--border-size) solid var(--accent-color);
}

#search_bar::placeholder {
    color: var(--dark-text-color);
}

#search_bar:focus {
    border: var(--border-size) solid var(--text-color);
    color: var(--text-color);
}

#search_button {
    padding: 0px 20px;
    height: 100%;
    color: var(--dark-text-color);
    border-top: var(--border-size) solid var(--accent-color);
    border-bottom: var(--border-size) solid var(--accent-color);
    border-right: var(--border-size) solid var(--accent-color);
}

#search_button:hover {
    border-top: var(--border-size) solid var(--dark-text-color);
    border-bottom: var(--border-size) solid var(--dark-text-color);
    border-right: var(--border-size) solid var(--dark-text-color);
    box-shadow: calc(var(--border-size) * -1) 0px 0px 0px var(--dark-text-color);
    z-index: 1;
}

#search_button:active {
    color: var(--text-color);
    border-top: var(--border-size) solid var(--text-color);
    border-bottom: var(--border-size) solid var(--text-color);
    border-right: var(--border-size) solid var(--text-color);
    box-shadow: calc(var(--border-size) * -1) 0px 0px 0px var(--text-color);
    z-index: 1;
}

/* List General */
#list_container {
    width: 100%;
    flex-grow: 1;
    border-left: var(--border-size) solid var(--accent-color);
    border-right: var(--border-size) solid var(--accent-color);
}

/* List Elements */
.element_container {
    width: 100%;
    height: 100%;
    border: calc(var(--border-size) / 2) solid var(--text-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.element_thumbnail {
    height: 100%;
    aspect-ratio: 1 / 1;
}

.element_text {
    padding: 0px 30px;
    width: 100%;
}

.element_link {
    color: white;
    cursor: pointer;
}

.element_link:hover {
    color: cornflowerblue;
}

/* Player */
#player_container {
    width: 100%;
    height: 150px;
    border: var(--border-size) solid var(--accent-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#player_thumbnail {
    height: 100%;
    aspect-ratio: 1 / 1;
}

#player_flex_container {
    flex-grow: 1;
    height: 100%;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.player_flex_layer {
    width: 100%;
    height: calc(100% / 3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#player_audio {
    width: 100%;
    height: 100%;
}

.player_link {
    color: white;
    cursor: pointer;
}

.player_link:hover {
    color: cornflowerblue;
}


/*
#scroll_bar {
    position: absolute;
    width: 100%;
    height: 500%;
    overflow-y: scroll;
    pointer-events: none;
}

#search_container {
    height: 10%;
    width: 100%;
    background: lightgray;
}

#list_container {
    flex-grow: 1;
    width: 100%;
    background: white;
}

#player_container {
    height: 10%;
    width: 100%;
    background: lightgray;
}



.square_image {
    height: 100%;
    width: auto;
    aspect-ratio: 1 / 1;
}

.horizontal_spacer {
    width: 25px;
    height: 100%;
}

.vertical_spacer {
    width: 100%;
    height: 25px;
}

#search_container {
    border: 1px solid white;
    z-index: 1;
    width: 100%;
    height: calc(var(--list-element-height) * 0.75);
    position: fixed;
    top: 0px;
}

#search_bar {
    width: 100%;
    height: 100%;
}

#list_container {
    width: 100%;
    height: 90%;
    flex-grow: 1;
}

#list_top_spacer {
    width: 100%;
    height: calc(var(--list-element-height) * 0.75);
}

#list_bottom_spacer {
    width: 100%;
    height: calc(var(--list-element-height) * 10);
}

.element_container {
    width: 100%;
    height: var(--list-element-height);
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#player_container {
    width: 100%;
    height: calc(var(--list-element-height) * 1.75);
    position: fixed;
    bottom: 0px;
    border: 1px solid white;
    background-color: rgb(60, 60, 60);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#player_flex_container {
    height: 100%;
    flex-grow: 1;
}

.player_flex_layer {
    height: calc(100% / 3);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#player_audio {
    width: 100%;
    height: 100%;
}
    */